@import url(../src/vendors/normalize.css);
@import url(../src/vendors/fonts/fonts.css);

/* @import url(./components/Header/Header.css);
@import url(./components/Promo/Promo.css); */

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
